// color
$primary-color: #000000;
$secondary-color: #ffffff;
$light-black: #212121;
$blue: #2196F3;
$gray: #757575;



//Font size
$font-14: 14px;

//Font weight
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;

//Font family
$font-family: 'Roboto', sans-serif;

